<div class="register d-flex">
  <div class="left-side">
    <p class="company-logo">HuntScaler</p>
    <img src="assets/sideImg.png" alt="Company logo" />

  </div>
  <div class="right-side mb-2">
    <div class="container mt-5">
      <div class="row row-1"><button class="btn-black" routerLink="/login">Sign In</button></div>
      <form action="#" class="register-form">
        <div class="container mt-5">
          <div class="row">
            <h4 class="register-heading">
              Create an account to enjoy your 30-day free trial
            </h4>
            <p class="register-subheading">
              Let’s make recruitment easy for your company. You can access our
              free plan now and request a plan upgrade later.
            </p>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
                <input type="text" placeholder="First Name" />
                <span class="msg">Please enter valid First Name !</span>
            </div>
            <div class="col-md-6">
              <input type="text" placeholder="Last Name" />
              <span class="msg">Please enter valid Last Name !</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <input type="text" placeholder="Job Title" />
              <span class="msg">Please enter valid Job Title !</span>
            </div>
            <div class="col-md-6">
              <input type="text" placeholder="Organization" />
              <span class="msg">Please enter valid Organization !</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <input type="text" placeholder="Phone Number" />
              <span class="msg">Please enter valid Phone Number !</span>
            </div>
            <div class="col-md-6"><input type="text" placeholder="City" />
                <span class="msg">Please enter valid City !</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <input type="text" placeholder="Organization Email" />
              <span class="msg">Please enter valid Organization Email !</span>
            </div>
            <div class="col-md-6">
              <div class="dropdown-div">
                <select name="planType" id="planType">
                    <option value="">Plan Type</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
              </div>
              <span class="msg">Please enter valid Plan Type !</span>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                <button class="register-btn">Create Account</button>
            </div>
          </div>
          <div class="row mt-3">
            <p class="col-md-6 offset-md-3" id="copyright">2024 All Right Reserved</p>
          </div>
        </div>
      </form>
      
    </div>
  </div>
</div>
