
<div class="header">
    <h1 class="header-heading">Create New  Assessments</h1>
    <div class="sub-heading">
       <div class="search-bar">
           <form action="#" class="search-bar-form">
               <input type="text" class="ms-2" placeholder="Search...">
               <div class="search-btn ms-1">
              <img src="/assets/search.png" alt="">
           </div>
           </form>
       </div>
    </div>
   </div>
   <ul class="home-navbar">
       <li class="active">Basic Details</li>
       <li>Questions</li>
       <li>Proctoring</li>
       <li>Configuration</li>
       <li>Candidate</li>
       <li>Email Template</li>
   </ul>

   <div class="new-assessment-form">
    <form action="">
<h1 class="form-heading">
    Assessment Information
</h1>
<div class="form-container container">
<div class="row g-5">
    <div class="col-md-4 input-box">
        <label for="#">Assessment Name</label>
        <input type="text">
</div>
    <div class="col-md-4 input-box">
        <label for="#">Location</label>
        <input type="text">
    </div>
    <div class="col-md-4 input-box">
        <label for="#">Role</label>
            <button class="dropdown dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                 
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
    </div>
</div>
<div class="row g-5">
    <div class="col-md-4 input-box">
        <label for="#">Assessment Duration</label>
        <input type="text">
</div>
    <div class="col-md-4 input-box">
        <label for="#">Location</label>
        <input type="text">
    </div>
    <div class="col-md-4 input-box">
        <label for="#">Role</label>
            <button class="dropdown dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                 
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
    </div>
</div>

</div>
    </form>
   </div>
