.modal-header{
    padding: 20px 30px;
    background-color: black;
    color: white;
    font-family: Raleway;
font-size: 24px;
font-weight: 600;
line-height: 36.97px;
letter-spacing: -0.02em;
text-align: left;
border-radius: 30px 30px 0px 0px;
}
.modal-content{
    border-radius: 30px 30px 30px 30px !important;
}
.btn-close{
    font-size: 10px;
    background-color: white;
    border:  none;
    border-radius: 50px;
    opacity: 1;
}

.row .col input{
  color: #b8b8b8;
  width: 309px;
height: 51px;
top: 322px;
left: 420px;
gap: 0px;
border-radius: 10px;
opacity: 0px;
border: 1px solid #b8b8b8;
}

.row .col input::placeholder {
    font-family: Raleway;
font-size: 16px;
font-weight: 500;
line-height: 24.64px;
letter-spacing: -0.02em;
text-align: left;

    color: #A1A5AC;
    ;
  }
.row .col label{
    font-family: Raleway;
font-size: 16px;
font-weight: 600;
line-height: 24.64px;
letter-spacing: -0.02em;
text-align: left;
}
.update-btn{
    width: 120px;
height: 53px;
top: 534px;
left: 596px;

    top: 534px;
    left: 596px;
    background: #004dff;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 700;
    line-height: 11.96px;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 50px;
}
.later-btn{
    width: 120px;
height: 53px;
top: 534px;
left: 596px;
gap: 0px;
opacity: 0px;

    top: 534px;
    left: 596px;
    background: #ffffff;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 700;
    line-height: 11.96px;
    text-align: center;
    color: #000000;
    border: 1px solid black;
    border-radius: 50px;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.password{
    background-repeat: no-repeat;
  }
  .password-div{
    width: 100%;
    position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  }
  .pass-icon{
    position: absolute;
    left: 75%;
    top: 50px;
    width: 20px;
    height: 20px;
    filter: grayscale(50);
  }
  .msg {
    width: 100%;
    color: red;
    text-align: start;
    padding-block: 3px;
    font-family: Outfit;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.86px;  
  }
  .msg-container{
    display: flex;
    flex-direction: column;
  }
  .correct-icon{
    margin-right: 10px;
    width: 12px;
    height: 12px;
  }
  .wrong-icon{
    margin-right: 10px;
    width: 12px;
    height: 12px;
  }
  .msg-correct{
    color: #36ac6d;

  }
  #pass-div{
    position: relative;
  }