<div class="main-container">
    <div class="left-side-container">

        <div class="company-logo">
            HuntScaler
        </div>

        <ul class="home-sidebar mb-5">
            <li class="active"><img class="me-3" src="/assets/assessment.png" alt=""><span>Assessments</span></li>
            <li class=""><img class="me-3" src="/assets/question.png" alt=""><span>Question</span></li>
            <li class=""><img class="me-3" src="/assets/desktop.png" alt=""><span>Trial Test</span></li>
            <li class=""><img class="me-3" src="/assets/envelope.png" alt=""><span>Email</span></li>
            <li class=""><img class="me-3" src="/assets/profile.png" alt=""><span>Profile</span></li>
        </ul>

        <div class="logout mt-auto">
            <p><img class="me-3" src="/assets/logout.png" alt="">Logout</p>
        </div>
    </div>
    <div class="right-side-container pt-1">
        <router-outlet></router-outlet>
    </div>
</div>

