.main-container{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #004Dff, #447CFF);
  display: flex;
}
.left-side-container{
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:3.8rem 0;
  gap: 3.5rem;
}
.right-side-container{
  height: 97vh;
  width: 80vw;
  background-color: white;
  border-radius: 40px 40px 40px 40px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.company-logo{
  font-family: Raleway;
  font-size: 32px;
  font-weight: 600;
  line-height: 11.96px;
  text-align: center;  
color: #FFFFFF;
}
.home-sidebar{
  width: 100%;
  list-style-type: none;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  padding: 2.5rem 1rem; 
}
.home-sidebar li{
  font-family: Raleway;
font-size: 20px;
font-weight: 600;
text-align: left;
padding: 0.5rem 2rem;
/* border:2px solid white; */
width: 100%;
height: 3rem;
color: white;
border-radius: 12px;
}
.home-sidebar .active{
  background-color: white;
  color: #004DFF;
  font-family: Raleway;
font-size: 20px;
font-weight: 600;
line-height: var(--TitleSmallLineHeight);
text-align: left;
}
.logout{
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  height: 2rem;
  padding: 0.5rem 3rem;
  /* border:2px solid white; */
  width: 100%;
  height: 3rem;
  color: white;
  border-radius: 12px;
}

/* right-side-container */
/* right-side-header start */
.header{
/* border: 1px solid red; */
width: 100%;
height: 3rem;
padding: 0rem 0;
padding: 2rem;
}
.header-heading{
  font-family: Raleway;
font-size: 36px;
font-weight: 600;
text-align: left;
color: #000000;
}
.sub-heading{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* padding-inline: 2rem; */
}
.search-bar-form{
  width: 338px;
height: 48.48px;
top: 141px;
left: 345px;
border-radius: 90.13px;
border: 0.7px;
text-align: start;
border: 0.7px solid #b8b8b8;
display: flex;
padding-right: 0;
}
.search-bar-form input{
  height: 99%;
  width: 85%;
  border: none;
  border-radius: 90.13px;
  padding-left: 1.5rem;

  font-family: Poppins;
font-size: 18.31px;
font-weight: 400;
line-height: 28.2px;
letter-spacing: -0.02em;
text-align: left;

color: #b8b8b8;


}
.search-btn{
  height: 100%;
  width: 15%;
  background-color: #000000;
  text-align: center;
  border-radius: 50px;
  font-size: 25px;
}
.search-btn img{
  width: 15px;
  height: 15px;
}
.add-btn{
  width: 196px;
height: 47px;
top: 141px;
left: 1207px;
border-radius: 14px;
border:none;
color: white;
  background: #004DFF;
border-radius: 14px;
}
/* right-side-header end */

.home-navbar{
  list-style: none;
  display: flex;
  align-items: center;
  /* border:1px solid red; */
  gap: 20px;
  height:51px;
  margin-top: 95px;
  background-color: #F3F6FE;
}
.home-navbar li{
  font-family: Raleway;
font-size: 16px;
font-weight: 600;
line-height: var(--TitleSmallLineHeight);
text-align: left;
color: #B8B8B8;
}
.home-navbar .active{
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: var(--TitleSmallLineHeight);
  text-align: left;  
color:#004DFF;
border-bottom: 2px solid #004DFF;
}
/* right-side-container */

