<div class="register d-flex">
  <div class="left-side">
    <div class="header">
      <p class="company-logo">HuntScaler</p>
    </div>
    <div class="container-body">
      <div class="row ms-auto r1">
        <div class="c">
            <div class="img-container">
                <img src="assets/web.png" alt="" />
              </div>
          <div class="content-container">
            <h4>Al-Based Proctoring</h4>
            <p>
              Al-based facial recognition to ensure the integrity of the
              assessment.
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-5 me-auto r2">
        <div class="c">
          <div class="img-container">
            <img src="assets/database.png" alt="" />
          </div>
          <div class="content-container">
            <h4>Al-Based Proctoring</h4>
            <p>
              Al-based facial recognition to ensure the integrity of the
              assessment.
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-5 ms-auto r3">
        <div class="c">
            <div class="img-container">
                <img src="assets/Group.png" alt="" />
              </div>
          <div class="content-container">
            <h4>Al-Based Proctoring</h4>
            <p>
              Al-based facial recognition to ensure the integrity of the
              assessment.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side mb-2">
    <div class="container mt-5">
      <div class="row row-1">
        <button class="btn-black" routerLink="/register">Sign Up</button>
      </div>
      <form action="#" class="register-form">
        <div class="container mt-5">
          <div class="row">
            <h4 class="register-heading">Sign Up</h4>
            <p class="register-subheading">to continue to HuntScaler</p>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <input type="text" class="email" placeholder="      Enter Email" />
              <span class="msg">Invali Email !</span>
            </div>
            <div class="col-md-6">
             <div class="password-div">
                <input type="password" class="password" placeholder="     Password" />
                <img class="pass-icon" src="/assets/lucide_eye.png" alt="">
             </div>
              <span class="msg">Invalid Password !</span>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <button class="register-btn">Sign In</button>
            </div>
          </div>
          <div class="row mt-3">
            <p class="col-md-6" id="copyright">2024 All Right Reserved</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
