<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Set Password</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container main-container my-4">
                <div class="time-container row" routerLink="/new-assessment/0">
                    <div class="col-2">
                    <img src="/assets/infiniteTime.png" alt=""></div>
                   <div class="col-8"><p class="timeType mt-3">Infinite Time</p></div>
                   <div class="col-2"><img class="arrow-icon" src="/assets/rightArrow.png" alt=""></div>
                </div>
                <div class="time-container row" routerLink="/new-assessment/1">
                    <div class="col-2"><img src="/assets/specificTime.png" alt=""></div>
                    <div class="col-8"><p class="timeType mt-3">Specific Time</p></div>
                    <div class="col-2"><img class="arrow-icon" src="/assets/rightArrow.png" alt=""></div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
