<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Set Password</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ms-3">
            <form action="" class="container">

                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">Organization Email</label>
                      <input type="text" class="form-control" placeholder="sakshik@rbistech.com" aria-label="First name">
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">Old Password</label>
                      <input type="text" class="form-control" placeholder="Old Password" aria-label="Last name">
                      <span class="msg">Incorrect Password !</span>
                    </div>
                    
                  </div>

                <div class="row">
                    <div class="col mt-3" id="pass-div">
                        <label for="exampleInputEmail1" class="form-label">New Password</label>
                      <input type="password" class="form-control" placeholder="New Password" aria-label="First name">
                      <img class="pass-icon" src="/assets/lucide_eye.png" alt="">
                     <div class="msg-container mt-1">
                      <span class="msg msg-correct"><img src="/assets/correct.png" class="correct-icon">Password strength: Weak</span>
                      <span class="msg"><img src="/assets/wrong.png" class="wrong-icon">Password strength: Weak</span>
                      
                      <span class="msg msg-correct"><img src="/assets/correct.png" class="correct-icon">Contains a number or symbol</span>
                      <span class="msg"><img src="/assets/wrong.png" class="wrong-icon">Contains a number or symbol</span>

                      <span class="msg msg-correct"><img src="/assets/correct.png" class="correct-icon">Contains at least 1 capital letter </span>
                      <span class="msg"><img src="/assets/wrong.png" class="wrong-icon">Contains at least 1 capital letter </span>

                      <span class="msg msg-correct"><img src="/assets/correct.png" class="correct-icon">Minimum 8 characters</span>
                      <span class="msg"><img src="/assets/wrong.png" class="wrong-icon">Minimum 8 characters</span>

                     </div>
                    </div>
                    <div class="col mt-3">
                        <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
                      <input type="text" class="form-control" placeholder="Confirm Password" aria-label="Last name">
                      <span class="msg">Password Mismatch !</span>
                    </div>
                  </div>
                <div class="row mt-5 mb-3">
                    <div class="col btn-container me-5">
                        <button class="update-btn ms-auto">Update</button>
                        <button class="later-btn me-auto">Later</button>
                    </div>       
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
